/*
https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#typesize
*/

/* @charset "UTF-8";*/
.vb-bgcolor {
	/*-fx-background-color: #CCFF99;*/
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #092b79, #00768e);
}
.hb-bgcolor {
	/*-fx-background-color: #CCFF99;*/
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #092b79, #00768e);
}

.logo-txt {
	-fx-font: bold italic 24pt "Arial";
	-fx-text-fill: #ffffff;
}


.mainmenue-button {
	-fx-font: 100px Verdana;
	/*-fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #00fea3, #00bece);*/
	-fx-border-width: 2px;
	-fx-background-color:  #014d5e;
	-fx-text-fill: #ffffff;
	-fx-font-size: 1em;
}

.mainmenue-button:hover {
    -fx-background-color: #00507b;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.mainmenue-button:pressed {
    -fx-background-color: #007bbe;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.border-gradient {
	-fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #00fea3, #00bece);
	-fx-border-width: 2px;
}

.gradient{
	-fx-fill:linear-gradient(from 25% 25% to 100% 100%, #00fea3, #00bece);
}


.text-input {
	-fx-text-fill: -fx-text-inner-color;
	-fx-highlight-fill: derive(-fx-control-inner-background, -20%);
	-fx-highlight-text-fill: -fx-text-inner-color;
	-fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
	-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%),
		-fx-text-box-border),
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background
		, -9%), -fx-control-inner-background);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
	-fx-cursor: text;
	-fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

.text-input:focused {
	-fx-highlight-fill: -fx-accent;
	-fx-highlight-text-fill: white;
	-fx-background-color: -fx-focus-color, -fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background
		, -9%), -fx-control-inner-background);
	-fx-background-insets: -0.2, 1, -1.4, 3;
	-fx-background-radius: 3, 2, 4, 0;
	-fx-prompt-text-fill: transparent;
}